








footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #52b3ff;
    color: white;
}

.footerFix {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1397FF;
    align-items: center;
}

.footerDivider {
    width: 1.5px;
    height: calc(150px - 40px);
    background-color: white;
}

.footerCol {
    width: 140px;
    text-align: center;
}

.footerCol h5 {
    font-size: 19px;
    font-weight: normal;
    line-height: 5px;
}

.footerList {
    padding-left: 0;
    line-height: 30px;
    list-style-type: none;
}

.footerList a:link, .footerList a:active, .footerList a:visited {
    color: white; }
